<a href="https://colab.research.google.com/github/AshmitaChowdhury92/Basic_Python/blob/main/all_about_String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Creating Strings**

In [ ]:
a='My name is "Ashmita"'
b=" it's raining outside"

c= '''Used for long paragraph of text.'''
d= """Also used for long paragraph. For example: writting vlog."""

print(a)
print(b)
print(c)
print(d)

My name is "Ashmita"
 it's raining outside
Used for long paragraph of text.
Also used for long paragraph. For example: writting vlog.

# **Accessing Strings**

In [ ]:
######################## Indexing #################
string1 = "Hello"
print(string1[1])    ####  Positive Indexing
print(string1[-4])    #### Negative Indexing

e
e

In [ ]:
######################## Slicing ################
my_name = "Hey! My name is XYZ. What's yours?"
print(my_name[:4])
print(my_name[5:20])
print(my_name[21:])

Hey!
My name is XYZ.
What's yours?

In [ ]:
print(my_name[5:20:2])
print(my_name[-7:-1:2])

print(my_name[: : -1])     ######### Reversing string
print(string1[-1: : -1])

M aei Y.
 or
?sruoy s'tahW .ZYX si eman yM !yeH
olleH

**Editing & Deleting Strings**

In [ ]:
s = "Hello"
s1=s.replace("H","X")
print(s1)

Xello

**NB:** Strings are immutable. String characters can be edited or deleted fully. But Partial deletion is not possible.

In [ ]:
################# Deleting Strings ######################
del(s)
print(s) ### string s is deleted

NameError: ignored

**Operation on Strings:**
*   Arithmatic (+ & *)
*   Relational
*   Logical
*   Loops
*   Membership

In [ ]:
###################### Arithmatic Operator ###################
str1 = "Hello"
str2 = "World"

str3 = str1 + " " + str2

print(str3)

print("*"*10)

Hello World
**********

In [ ]:
###################### Relational Operator ###################

print(str1 == str2)
print(str1 != str2)

print(str1 > str2)  ####### Lexiographical comparison
print("Chittagong" < "Dhaka")

print("hello">"Hello")

False
True
False
True
True

In [ ]:
###################### Logical Operator ###################
" " -> False
"any string" -> True

In [ ]:
"hello" or "world"

'hello'

In [ ]:
"" or "world"

'world'

In [ ]:
"" or ""

''

In [ ]:
"hello" and "world"

'world'

In [ ]:
"hello" and ""

''

In [ ]:
################ Loops ###################
for i in range(len(str3)):
  print(i,str3[i])

0 H
1 e
2 l
3 l
4 o
5
6 W
7 o
8 r
9 l
10 d

In [ ]:
for i in str3:
  print(i)

H
e
l
l
o

W
o
r
l
d

In [ ]:
for i in str3[::-1]:
    print(i)

d
l
r
o
W

o
l
l
e
H

In [ ]:
########################## Membership operator ##############
c = "Hello World"

for i in range(len(c)):
    if c[i] == 'l':
        print(i, c[i])

2 l
3 l
9 l

In [ ]:
"world" in c

False

# **String Functions**

**Common functions that are used in every types of datatypes.**

In [ ]:
c = "chittagong"

print(len(c))
print(max(c))
print(min(c))
print(sorted(c))

10
t
a
['a', 'c', 'g', 'g', 'h', 'i', 'n', 'o', 't', 't']

In [ ]:
a = {6,1,30,15,2}
print(sorted(a))
print(max(a))
print(min(a))
print(len(a))

[1, 2, 6, 15, 30]
30
1
5

**Functions only applicable on strings.**

Capitalize | Upper | Lower | Title | Swapcase | Count | Find/Index | endswith/startswith | format | isalnum/ isalpha/ isdecimal/ isdigit/ isidentifier | Split | Join | Replace | Strip

In [ ]:
print(c.capitalize()) ### 1st letter is capitalized

print(c.upper())
print(c.lower())

check = "HelLo WoRld"
print(check.swapcase()) ####### will covert lower to upper and upper to lower

Chittagong
CHITTAGONG
chittagong
hELlO wOrLD

In [ ]:
line = "it is raining today"
print(line.title())

print(line.count("i"))
print(line.count("rain"))
print(line.count("x"))

It Is Raining Today
4
1
0

In [ ]:
print(line.index("i")) ############ index returns the position of first occurance
print(line.index("rain"))

0
6

In [ ]:
print("it is raining".endswith("ingef"))
print("it is raining".startswith("it"))

False
True

In [ ]:
#### Commonly used in login system. where programmer doesnot know what will be the input
print("Hello my name is {} and I am {}".format("Dona",30))

print("Hello my name is {1} and I am {0}".format("Dona",30))

print("Hello my name is {name} and I am {age}".format(name="Dona",age=30))

Hello my name is Dona and I am 30
Hello my name is 30 and I am Dona
Hello my name is Dona and I am 30

In [ ]:
#########  isalnum/ isalpha/ isdecimal/ isdigit/ isidentifier
print("hello20".isalpha())

False

In [ ]:
"Flat20".isalnum()

True

In [ ]:
"who is the pm of india".split()

['who', 'is', 'the', 'pm', 'of', 'india']

In [ ]:
"-".join(['who', 'is', 'the', 'pm', 'of', 'india'])

'who-is-the-pm-of-india'

In [ ]:
"Hi my name is Ashmita".replace("Ashmita","Dona")

'Hi my name is Dona'

In [ ]:
name = "               dona              "
name.strip()

'dona'