<a href="https://colab.research.google.com/github/AshmitaChowdhury92/Basic_Python/blob/main/Literals_%26_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Literals:**
Literals are raw data given to a variables. 4 types.
1. Numerical 2. String 3. Boolean 4. Speacial

In [ ]:
################# numerical literals ################
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5
float_2 = 1.5e2
float_3 = 1.5e-3

#Complex Literal
x = 3.14j

print(a, b, c, d)
print(float_1, float_2,float_3)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

In [ ]:
######################### string literals #####################
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
ðŸ˜€ðŸ˜†ðŸ¤£
raw \n string

In [ ]:
######################### boolean literals ###################
a = True + 4
b = False + 10

print("a:", a)
print("b:", b)

a: 5
b: 10

In [ ]:
######################## special literals ######################

### way to declare variable ############
a = None
print(a)

None

# **Operators:**
1. Arithmatic 3. Comparison 4. Logical 5. Bitwise
2. Identity 6. Membership 7. Assignment

In [ ]:
################################ Arithmatic Operator ###########################
x = 5
y = 2

print(x+y)    ## addition
print(x-y)    ## sub
print(x*y)    ## multi
print(x/y)    ## Division
print(x//y)   ## integer division
print(x%y)    ## modulus operation
print(x**y)   ## exponent

7
3
10
2.5
2
1
25

In [ ]:
################################ Comparison Operator ###########################

x=5
y=2

print(x>y)
print(x<y)
print(x>=y)
print(x<=y)
print(x==y)
print(x!=y)

True
False
True
False
False
True

In [ ]:
################################ Logical Operator ###########################
x = True
y= False

print(x and y)
print(x or y)
print(not x)
print(not y)

False
True
False
True

In [ ]:
################################ Bitwise Operator ###########################
x= 2
y= 3

print(x & y)
print(x | y)
print(x >> 2)   ## Right Shift
print(x << 2)   ## Left Shift
print(~x)       ## Complement

2
3
0
8
-3

In [ ]:
################################ Assignment Operator ###########################
a = 3
a += 3
print(a)
# can be used with any types of operator

6

In [ ]:
################################ Identity operator #############################
## checks whether two variable are in same memory space

a= 3
b = 3
print (a is b)

True

In [ ]:
a= "Hello"
b = "Hello"
print (a is b)

True

In [ ]:
 a= [1,2,3]
b =
print (a is b)

In [23]:
################################ Membership Operator ###########################
a = " Chittagong "
print ("C" in a)
print( "C" not in a)

a= [1,2,3]
print(5 in a)

True
False
False