<a href="https://colab.research.google.com/github/AshmitaChowdhury92/Basic_Python/blob/main/Loops%2C_Break%2C_Continue%2C_Pass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loops:
Two types: While loop and For loop

**While Loops**

In [1]:
####################### Multiplication table of a given number ############################

num = int(input("enter number:"))
i = 1
while i<=10:
  print (num*i)
  i+=1

enter number:5
5
10
15
20
25
30
35
40
45
50

In [2]:
########################## Random number Guessing Game ##########################################

import random

rand_num = random.randint(1, 100)
i = 0

while True:
    guess = int(input("Enter your guessed number:"))

    if guess == rand_num:
        print("Correct Guessing.")
        break  # exit the loop if the guess is correct
    elif guess > rand_num:
        print("Guess lower number")
    else:
        print("Guess higher number")

    i += 1

print("Total attempt:", i + 1)  # Adding 1 because the correct guess is also an attempt

Enter your guessed number:50
Guess lower number
Enter your guessed number:40
Guess lower number
Enter your guessed number:30
Guess lower number
Enter your guessed number:20
Guess lower number
Enter your guessed number:10
Guess higher number
Enter your guessed number:15
Guess lower number
Enter your guessed number:14
Guess lower number
Enter your guessed number:13
Guess lower number
Enter your guessed number:12
Guess lower number
Enter your guessed number:11
Correct Guessing.
Total attempt: 10

**For Loops**

In [3]:
########################## Range Function ##########################################
print(list(range(1,11)))

print(list(range(0,10,3)))

print(list(range(-10, -100, -30)))

print(list(range(10, 0, -1)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 3, 6, 9]
[-10, -40, -70]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [4]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

In [5]:
for i in "Bangladesh":
  print(i)

B
a
n
g
l
a
d
e
s
h

In [6]:
a = ['Mary', 'had','a','cute','dog']
i=0
for i in range(len(a)):
  print(i,a[i])

0 Mary
1 had
2 a
3 cute
4 dog

In [7]:
a = ['Mary', 'had','a','cute','dog']
i=0

print(range(len(a)))
print(len(a))

range(0, 5)
5

In [11]:
a = ['cat', 'window', 'defenestrate']

for i in range(len(a)):
  print(i,a[i], len(a[i]))

0 cat 3
1 window 6
2 defenestrate 12

In [13]:
# prompt: python code to output the prime numbers and non prime numbers along with their factors from 1 to 10.

for i in range(2, 11):
    factors = []
    for j in range(2, i + 1):
        if i % j == 0:
            factors.append(j)
    if len(factors) == 1:
        print(f"{i} is a prime number with no factors.")
    else:
        print(f"{i} is not a prime number with factors {factors}.")

2 is a prime number with no factors.
3 is a prime number with no factors.
4 is not a prime number with factors [2, 4].
5 is a prime number with no factors.
6 is not a prime number with factors [2, 3, 6].
7 is a prime number with no factors.
8 is not a prime number with factors [2, 4, 8].
9 is not a prime number with factors [3, 9].
10 is not a prime number with factors [2, 5, 10].

In [14]:
########################## Even Odd numbers ##########################################

for i in range(1,10):
  if i%2 == 0:
    print("Found an even number", i)
  else:
    print("Found an odd number",i)

Found an odd number 1
Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9

In [9]:
########################## Printing Patterns ##########################################

for i in range(1,6):
  for j in range(0,i):
    print('*', end = ' ')
  print('')

*
* *
* * *
* * * *
* * * * *

# **Break, Continue, Pass**

In [16]:
########################## Break ##########################################

for i in range (1,11):
  if i == 5:
    break
  else:
    print(i)

1
2
3
4

In [17]:
########################## Continue ##########################################

for i in range(1,11):
  if i==5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10

In [18]:
########################## Pass ##########################################
for i in range(1,11):
  pass