<a href="https://colab.research.google.com/github/AshmitaChowdhury92/Basic_Python/blob/main/Python_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello world.')                    ########### Normal print
print ('India','Pakistan','Bangladesh')  ########### Print multiple things of same datatype
print('India', 5, True)                  ########### Print multiple things of Different datatype...normally sep parameter set into ' ' by default.
print('India', 5, True, sep='/')         ########### Usage of sep

Hello world.
India Pakistan Bangladesh
India 5 True
India/5/True

In [ ]:
## This a a comment.

""" Comment can be written is two different way.
First Type is shown above and
this is the second type. """

' Comment can be written is two different way.\nFirst Type is shown above and\nthis is the second type. '

**Data Type:** 3 types of data.
1. Basic: int, float, complex, boolean, string
2. Container: sets, list, tuple, dictionary
3. User-defined: class

In [ ]:
# Basic data type

print(5) #int
print(7.5) #float
print(True) #bool
print('String') #string
print('1+3j')   #complex

5
7.5
True
String
1+3j

In [1]:
###List/array
print([1,2,3,4])

###Tuple
print((92, 'Ashmita', 'CSE'))

###Sets
print({92, 'Ashmita', 'CSE'})

###Dictionary
print({'ID': 92, 'Name': 'Ashmita', 'Dept': 'CSE'})

[1, 2, 3, 4]
(92, 'Ashmita', 'CSE')
{'CSE', 92, 'Ashmita'}
{'ID': 92, 'Name': 'Ashmita', 'Dept': 'CSE'}

**Variables**:

In [ ]:
name = "XYZ"
print(name)

XYZ

In [ ]:
#assigning values to variables

#Type1
a=5 ; b=6 ; c= 7
print(a)
print(b)
print(c)

#type2
print("Printing type2:")
a,b,c = 4,5,6
print(a)
print(b)
print(c)

5
6
7
Printing type2:
4
5
6

Special features of Python:

> 1. Dynamic typing vs Static Typing: Python is clever enough that it can automatically detect the datatype of the variable. We don't have to declare the datatype like C,C++ or JAVA

> 2. Dynamic Binding vs Static Binding: If a variable is assigned to a specific datatype then it can not be canged in C/C++/JAVA. But this is not the case in Python.

**Taking Input from User**

In [ ]:
################################## using prompt is useful beacause it defines clearly which type of input we are looking for#########################
name = input("Tell your name:" )
age = int(input("give your age:"))
print("My name is",name+" and age is",str(age))  ############## TYPE CONVERSION. type of age is converted into string.

Tell your name:Ashmita
give your age:25
My name is Ashmita and age is 25

**Type conversion** 2 types:
1. implicit
2. explicit

In [ ]:
################## implicit type conversion #################
print(3+4.5)
print(3.7+4.5)
print(3+4+5j)
print(3.5+4+5j)
print(3+2j+4+5j)

7.5
8.2
(7+5j)
(7.5+5j)
(7+7j)

In [ ]:
################### explicit type conversion ####################
print(int(4.5))
print(float(100))
print(complex(4))
print(list("Hello"))
print(str(4))

4
100.0
(4+0j)
['H', 'e', 'l', 'l', 'o']
4

In [ ]:
############ Add two numbers################
frst_num = input("Enter the first num:")
scnd_num = input("Enter the second num:")
result = frst_num + scnd_num
print(result)       ############## considering this two int as a string. beacause type of input is not declared before taking input.
print(type(result))

f_num = int(input("Enter the first num:"))
s_num = int(input("Enter the second num:"))
result = f_num + s_num
print(result)
print(type(result))

Enter the first num:5
Enter the second num:5
55
<class 'str'>
Enter the first num:5
Enter the second num:5
10
<class 'int'>

**Literals:** 4 types.
1. Numerical
2. Boolean
3. String
4. Special Literals.

In [ ]:
################# numerical literals ################
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5
float_2 = 1.5e2
float_3 = 1.5e-3

#Complex Literal
x = 3.14j

print(a, b, c, d)
print(float_1, float_2,float_3)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

In [ ]:
######################### string literals #####################
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
😀😆🤣
raw \n string

In [ ]:
######################### boolean literals ###################
a = True + 4
b = False + 10

print("a:", a)
print("b:", b)

a: 5
b: 10

In [ ]:
######################## special literals ######################

### way to declare variable ############
a = None
print(a)

None