<a href="https://colab.research.google.com/github/AshmitaChowdhury92/Basic_Python/blob/main/Python_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello world.')                    ########### Normal print
print ('India','Pakistan','Bangladesh')  ########### Print multiple things of same datatype
print('India', 5, True)                  ########### Print multiple things of Different datatype...normally sep parameter set into ' ' by default.
print('India', 5, True, sep='/')         ########### Usage of sep

Hello world.
India Pakistan Bangladesh
India 5 True
India/5/True

**Data Type:** 3 types of data.
1. Basic: int, float, complex, boolean, string
2. Container: sets, list, tuple, dictionary
3. User-defined: class

In [ ]:
# Basic data type

print(5) #int
print(7.5) #float
print(True) #bool
print('String')

5
7.5
True
String